@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-50;
  }
}

@layer utilities {
    .glass {
        @apply bg-slate-900/70 backdrop-blur-md border border-slate-800;
    }
    .glass-card {
        @apply bg-slate-800/50 backdrop-blur-sm border border-slate-700/50 rounded-xl;
    }
}
